@media (max-width: 1100px) {
 
  .menu{
    margin-left: auto;
  &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 72px;
      width: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      background-color: #000;
      z-index: 5;
      transition: all .3s;
  
  &.menu__list--active {
         transform: translateY(0%);
         transition: all .3s;

      }
     
  }  

    
  &__list-item + .menu__list-item{
      padding-left: 15px;
  }
   &__list-item {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    
  }
  &__list-item:last-child{
    margin-bottom: 20px;
  }
  &__list-link{
    padding: 20px 0;
    display: block;  
  }
  &__btn{
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-color: #ff4500;
      border-radius: 50%;   
   
 }
  &__btn span,
  &__btn span::after,
  &__btn span::before{
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #000;

  }
    &__btn span{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__btn span::after{
     content: '';
     top: 8px;
     right: 0;
  }
  &__btn span::before{
     content: '';
     top: -8px;
     left: 0;
  }
  
.menu__btn--active span{
    background-color: transparent;
}
.menu__btn--active span::after{
    top: 0;
    transform: rotate(45deg);
    transition: 0.4s;
}
.menu__btn--active span::before{
    top: 0;
    transform: rotate(-45deg);
    transition: 0.4s;
}

}
.search-form{
  display: none;
}
.service{
   &__content{
    display: block;
   }  
   &__content-list{
    min-width: 100%;
   }
   &__content-text{
    min-width: 100%;

   }
   &__content-img{
    display: block;
    min-width: 100%;
   }
  }
  .tabs{
  &__item{
    margin-right: 40px;
  }
  &__content-inner{
    display: block;
  }
  &__content-text{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  &__content-img{
    min-width: 100%;

  }
  }
  .footer{
    margin-top: 50px;
    &__contacts-inner{
      padding-right: 30px;
    }
  
  &__logo-img{
    width: 300px;
  }
 }
}

@media (max-width: 900px) {
  .footer{
    &__logo-img{
      width: auto;
      display: block;
      margin: 0 auto;
    }
    &-form{
      min-width: 100%;
      padding-right: 0;
    }
  }
  .faqs{
    margin-top: 50px;
    &__title{
      margin: 20px 0;
    }
    &__wrapper{
      padding: 15px 0 15px 20px;
    }
    &__subtitle{
      font-weight: 500;
      line-height: 26px;
    }
  }
  .slider{
    margin-bottom: 50px;
    &__title{
      font-size: 38px;
    }
  }
}
@media (max-width: 730px){
  .footer{
    &__logo-img{
      display: none;

    }
    &__top-wrapper{
      display: flex;
      justify-content: space-between;
    }
    &__contacts-inner{
      display: block;
      max-width: 60%;
      margin-right: 30px;
    }
    &__contacts-logo{
      display: inline-block;
      width: 200px;
      height: 200px;
    }
  &-form{
    display: block;
    }
  &-form__btn{
    display: block;
    margin: 0 auto;
  } 
  }

}

@media (max-width: 630px){
  .search-form{
    display: none;
  }
  .about{
    &__text{
      margin-bottom: 10px;
    }
    &__content{
     background-image: none;
     padding-top: 15px;
     
    }
    &__content-inner{
      display: block;
      padding-top: 15px;
      padding-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
     
    }
    &__content-text{
      width: auto ;
      padding: 20px;
      
     
    }
    &__content-link{
      margin-right: 0;
     
    }
  }
  .service{
    &__content-img{
      display: block;
      max-width: 100%;
   }

  }
  .tabs{
  &__item{
    margin-right: 20px;
    }
  }
  .footer{
    &__contacts-inner{
      display: block;
      min-width: 100%;
      margin-right: 0;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
    }
    &__contacts-logo{
      display: none;
    }
  &-form__title{
    display: block;
    text-align: center;
  }  
  &-form__btn{
    display: block;
    width: 100%;
  } 
  }
}

@media (max-width: 400px){
  .tabs{
  &__item{
    margin-right: 15px;
    }
  }
   .slider{
    margin-bottom: 50px;
    &__content{
      padding-left: 20px;
    }
    &__title{
     font-size: 24px;
     
    }
    &__text{
      font-weight: 500;
      font-size: 12px;
    }
  }
 }

 