@import"vars";
@import"fonts";
@import"reset";
@import"libs";
@import"global";
.hidden{
  display: none;
}
.aktiv{
  border-bottom: 1px solid $border;
  color: $border;
}
.header{
  padding-top: 20px;
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #cacaca;
  z-index: 999;

  }
  
}
.logo__img{
  width: 70px;
  height: 72px;
}

.menu{
  margin-left: 100px;
  display: block;
  transition: all .3s;
  &.hidden{
    display: none;
    transition: all .3s;
  }
  &__list{
    display: flex;
   /* padding-right: 40px;*/
  
  }
    &__list-item + .menu__list-item{
    padding-left: 100px;
  }
  &__list-link{
    color: $default;
    padding: 0 2px 1px;
    transition: all .3s;
    @extend %monserrat-600;
    &:hover{
      border-bottom: 2px solid $border;
    }
    &--active{
      color: $default;
      border-bottom: 2px solid #ff4500;
    }
  }
}
.search-form{
   position: relative;
    margin-left: 15px;
    width: 50px;
    height: 60px;
    transition: all .3s;
    &.active{
      width: 450px;
      margin-right:60px;

    }
   &__input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: $border;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    opacity: 0;
    outline: none;
    padding: 0 20px 0 20px;
    transition: all .3s;
    &.active{
      opacity: 1;
    }
  }  
  &__search-btn{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #ff4500;
    text-align: center;
    line-height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
    &.active{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    transform: translateY((-50%) rotate(360deg));
    }
  }
  &__cancel-btn{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #333;
    cursor: pointer;
    transition: all .3s;
    &.active{
    right: -40px;
    transform: translateY((-50%) rotate(360deg));
    }
  }
}
.slider{
  margin-bottom: 100px;
  padding-top: 40px;
  &__container{
    padding: 0;
  }
  &__item-one{
    background-image: url('../images/slider/slider_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    min-width: 100%;

  }
  &__item-two{
    background-image: url('../images/slider/slider_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  &__item-three{
     background-image: url('../images/slider/slider_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__content{
    padding-left: 78px;
    padding-top: 103px;
    padding-bottom: 91px;
    color:#fff;
  }
  &__title{
    @extend %monserrat-800;
    
    max-width: 840px;
    line-height: 1;
    margin-bottom: 32px;
    

  }
  &__text{
    @extend %monserrat-700;
    line-height: 28px;
    max-width: 836px;
    margin-bottom: 97px;
  }
  &__link{
     @extend %monserrat-400;
     color:#fff;
     background-color: #ff4500;
     padding: 24px 30px;
     border-radius: 30px;
     &:active{
      background-color: $accent;
     }

  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    li{
      padding: 0 5px;
      line-height: 0;
      button{
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 3px solid transparent;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active{
         button{
          border-color: #ff4500;
          &::before{
            background-color: #ff4500;
          }
        }
      }
    }
  }
 }
 .title{
  @extend %monserrat-600;
  color: #333;
  font-size: 48px;
  line-height: 58px;
 }
 .about{
  margin-bottom: 100px;
  &__text{
    margin-top: 10px;
    max-width: 1235px;
    @extend %monserrat-400;
    line-height: 32px;
    margin-bottom: 44px;
  }
  &__content{
    padding-top: 550px;
    background-image: url('../images/about/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
  }
  &__content-inner{
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 42px;
  padding-left:  56px;
  background-color: rgba(0, 0, 0, 0.5);

  }
  &__content-text{
    width: 500px;
    padding-right: 76px;
    color: #fff;
    @extend %monserrat-600;
    font-size: 16px;
    line-height: 20px;
  }
  &__content-link{
    border: 3px solid $border;
    color: #fff;
    @extend %monserrat-700;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 20px;
    margin-right: 68px;
    &:hover{
      background-color: $border;
  }  
    &:active{
      background-color: $accent;
      border: 3px solid $accent;
  }
  }
  &__items{
    margin-top: 50px;
  }
  &__item{
    padding: 66px 0 66px 330px;
    border: 1px solid #cacaca;
  }

  &__item:nth-child(1){
    margin-bottom: 45px;
    background-image: url('../images/about/item_one.svg');
    background-repeat: no-repeat;
    background-position: 25px 50px;
  }
  &__item:nth-child(2){
    background-image: url('../images/about/item_two.svg');
    background-repeat: no-repeat;
    background-position: 25px 50px;

  }
  &__item-title{
      @extend %monserrat-700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
    &__item-text{
      @extend %monserrat-400;
      font-size: 14px;
      line-height: 20px;
    }
 }
 .service{
  margin-bottom: 100px;
  &__content{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__content-list{
    margin-top: 10px;
    max-width: 600px;
    @extend %monserrat-400;
    margin-bottom: 44px;

  }
  &__content-item{
    margin-bottom: 20px;
    position: relative;
  }
  &__content-text::after{
    content: '';
    position: absolute;
    top: 12px;
    left: -18px;
    background-color: #222222;
    width: 10px;
    height: 10px;
    border-radius: 50%;


  }
  &__content-img{
    max-width: 650px;
    height: auto;
    border-radius: 10px;
  }
 }
 .tabs{
  &__title{
    margin-bottom: 35px;
  }
  &__list{
    display: flex;
    
  }
  &__item{
    margin-right: 85px;
    @extend %monserrat-400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 49px;
    
   
    }
  &__item--active{
    padding-bottom: 8px;
    border-bottom: 1px solid $border;
    color: $border;
  }
  
  &__content-inner{
    display: flex;
  }
  &__subtitle{
    @extend %monserrat-700;

  }
  &__content-text{
    width: 50%;
    margin-right: 40px;
    @extend %monserrat-400;
    font-size: 16px;
    line-height: 32px;
    
  }
  &__content-img{
    width: 50%;
    max-height: 300px;
    border-radius: 10px;
  }

 }
 .faqs{
  margin-top: 100px;
  &__title{
    margin-bottom: 30px;
    padding-bottom: 39px;
      border-bottom: 1px solid $accent;
  

  }
  &__wrapper{
    border-bottom: 1px solid $accent;
    padding: 30px 0 39px 50px;

  }

  
  &__subtitle{
    @extend %monserrat-600;
    line-height: 32px;
    color: #333;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
    
  }
  &__subtitle::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -25px;
     width: 12px;
    height: 12px;
    background-color: #ff4500;
    border-radius: 50%;
  }

  &__content{
    @extend %monserrat-400;
    line-height: 32px;
    color: #333;
  }
 }
 
 
.footer{
  margin-top: 100px;
  padding-top: 10px;
  background: #222222;
  &__contacts-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
  }
  &__logo-img{
    display: inline-block;
    width: 400px;
    height: 402px;
  }
  &__address{
      @extend %monserrat-600;
      font-style: normal;
      color: #cacaca;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &__teim,
    &__tel, 
    &__email {
      color: #cacaca;
      @extend %monserrat-600;
    }
  
    &__tel {
      display: block;
    }
    &-content__wrapper{
      padding-top: 50px;
      padding-bottom: 50px;
     /* display: flex;
      justify-content: space-around;*/
    }
    &-form{
     min-width: 60%;
     padding-right: 150px;
     display: inline-block;
  
    }
    &-form__title{
      color: #cacaca;
      @extend %monserrat-400;
      font-size: 38px;
      line-height: 42px;
      padding-bottom: 30px;
    }
    &-form__input,
    &-form__textarea{
      border: none;
      display: block;
      width: 100%;
      padding: 16px;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      color: #cacaca;
      @extend %monserrat-400;
      line-height: 32px;
      background-color: #414141;
      border-radius: 30px;
    }
    &-form__textarea{
      min-height: 140px;
      resize: none;

    }
    &-form__input::placeholder,
    &-form__textarea::placeholder{
      font-size: 14px;
      color: #cacaca;
      @extend %monserrat-400;
      line-height: 32px;

    }
    &-form__btn{
      @extend %monserrat-700;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      background-color: $border;
      padding: 15px;
      border-radius: 20px;
 
    }
    &-form__img{
     margin-top: 50px;
      height: 350px;
      width: 45%;
      border: 1px solid transparent;
      border-radius: 20px;
    
    }

  }
  





@import"media";